@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$nord0:  #2e3440; /* polar jet */
$nord10: #5e81ac; /* frost cerulean */
$nord15: #835783; /* aurora purple */
$nord08: #359797; /* frost aqua */

body {
    font-family: EB Garamond;
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

.title {
    font-family: Inconsolata;
    font-size: 12px;
    font-weight: light;
}

h1, h2, h3, h4, h5 {
    font-family: Alegreya;
}

a {
    color: $nord10;
    text-decoration: none;
    &:hover {
        color: $nord08;
    }
    &:visited {
        color: $nord15;
    }
}
blockquote {
    color: $nord0;
}
